.reg-form-div {
  margin-left: 120px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-form-div h3 {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

.reg-form-div p {
  font-weight: 400;
  font-size: 18px;
  width: 411px;
  height: 56px;
  line-height: 28px;
  margin-top: 10px;
  position: relative;
  right: 50px;
}

input {
  width: 426px;
  height: 64px;
  padding-left: 30px;
  border: 1px solid #8692a6;
  border-radius: 6px;
  margin-top: 14px;
}

label {
  margin-top: 24px;
  position: relative;
  right: 140px;
}

.check {
  width: 18px;
  height: 18px;
  background: #1565d8;
  border-radius: 4px;
}

.check-p {
  color: #696f79;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-left: 120px;
}

.check-p span {
  margin-top: 10px;
}

.password-strength {
  background: #ffc107;
  border-radius: 4px;
  width: 280px;
  height: 4px;
  position: relative;
  right: 68px;
  top: 7px;
}

.str-text {
  width: 282px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffc107;
  position: relative;
  top: 10px;
  right: 67px;
}

.error {
  color: red;
  margin-top: 25px;
}
